.ant-col-8 {
  /* padding-left: 0 !important;
    
    padding-right: 0 !important; */
  padding: "10px" !important;
  display: flex !important;
}
.board-columns {
  display: flex;
  justify-content: space-around;
  background-color: #f3f3f3;
}
.wrapper-scroll {
  overflow-y: scroll;
  height: 90vh;
}
/* .went-well {
  background-color: #60d060 !important;
}
.to-improve {
  background-color: #ee3232;
  color: #f3f6f7;
}
.actions {
  background-color: #6796ec;
  color: #f3f6f7;
} */
.card-style {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgb(63, 91, 112);
}
.column-style {
  /* position: absolute; */
  width: 33%;
  margin: 10px;
}
.text-field {
  border-radius: 15px 15px 0 0;
  /* border-bottom-color:white; */
  margin-top: 10px;
  padding-right: 35px;
}
.accept-icon {
  right: 2px;
  font-size: 25px;
  top: 20px;
  margin-left: 5px;
  color: green;
}
.remove-icon {
  right: 5px;
  font-size: 25px;
  top: 20px;
  color: red;
}
.icons-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  /* border-radius: 0 0 15px 15 px;
  background: white; */
}
.like-icon{
  margin-right: 5px;
  color: white;
}
.edit-icon{
  color: white;
  margin-left: 5px;
}
.retro-headers {
  display: flex;
  justify-content: space-around;
}

.disbled-button{
  color: #2D89CD;
  background: #2D89CD ;
  width:100%;
  height: 32px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.ant-modal-close{
  display: none;
}
.close-remove-icon{
display: flex;
justify-content: flex-end;
color: white;
}
.more-icon{
  display: flex;
  justify-content: flex-end;
}
.more-icon-color{
  color: white;
}