.admin-wrapper {
  border-radius: 5px;
  height: 93vh;
}
.center {
  justify-content: center;
}
.right-end {
  justify-content: flex-end;
}
.log-out{
    height: 50px;
    border-radius: 0 0 0 20px;
}
.table-scroll{
  height: 93.7%;
  overflow-y: scroll;
}
@media (max-height: 980px) {
  /* .admin-wrapper {
    max-height: 630px;
  } */
  .table-scroll{
    height: 92%;
  }
}
.tab{
  font-size: 16px;
  border-bottom: 4px solid #2D89CD;
  padding-bottom: 3px;
}
.tab-no-line{
  font-size: 16px;
}
.tab-no-line:hover{
  border-bottom: 4px solid #2D89CD;
  padding-bottom: 3px;
  cursor: pointer;
}
